<div>
	<div class="loginContainer">
		<form class="loginForm" (ngSubmit)="login()" [formGroup]="loginForm">
			<div>
				<label for="loginUsername">
					Username :
				</label>
				<input type="text" name="loginUsername" placeholder="username" formControlName="username">
			</div>
			<div>
				<label for="loginPassword">
					Password :
				</label>
				<input type="password" name="loginPassword" placeholder="password" formControlName="password">
			</div>
			<div>
				<input type="submit" value="login">
			</div>
		</form>
	</div>
	<div class="registerContainer">

	</div>
</div>